*.class
*.jar
.DS_Store
.\#*
/*.iml
/.calva
/.cpcache
/.eastwood
/.env
/.envrc
/.idea
/.lein-deps-sum
/.lein-env
/.lein-failures
/.lein-plugins
/.lein-repl-history
/.lsp
/.nrepl-port
/build.xml
/checkouts
/classes
/classes
/config.edn
/lib
/pom.xml
/pom.xml.asc
/profiles.clj
/tags
/target
\#*\#

**/.clj-kondo/.cache

# clj-kondo: ignore all except our defined config
.clj-kondo/*
!.clj-kondo/config.edn
!.clj-kondo/hooks
