{:source-columns []
 :tables         ::not-sure-what-we-should-do-if-we-continue-supporting-this

 :overrides
 {:basic-select
  ;; do not allow wildcard selects
  {:error :macaw.error/invalid-query}

  ;; Just plain old wacky
  :source-columns [{:table "`project_id.dataset_id.table_*`", :column "_TABLE_SUFFIX"}]
  ;; Kinda makes sense, but very raw, and Metabase won't handle it.
  :tables [{:table "`project_id.dataset_id.table_*`"}]}}
