{:source-columns [{:table "execution" :column "error"}
                  {:table "execution" :column "instance_id"}
                  {:table "execution" :column "running_time"}]
 :tables         [{:table "execution"}]
 :override       :macaw.error/unable-to-parse}
