{:tables         [{:table "report_card"} {:table "report_dashboardcard"}]
 :source-columns [{:table "report_card", :column "created_at"} ;; from where
                  {:table "report_card", :column "id"}
                  {:table "report_dashboardcard", :column "card_id"}
                  {:table "report_dashboardcard", :column "created_at"}] ;; from outer select

 ;; See https://github.com/metabase/metabase/issues/42586
 :overrides
 ;; TODO We are missing some fields and some table qualifiers.
 {:source-columns [{:column "created_at"}
                   {:column "card_id", :table "report_dashboardcard"}]}}
