{:tables         [{:table "a"}, {:table "b"}]
 :source-columns #{{:table "b" :column "x"}
                   {:table "a" :column "y"}}

 ;; See https://github.com/metabase/metabase/issues/42586
 :overrides
 {:ast-walker-1
  ;; TODO currently each table gets hidden by the other CTE
  {:tables         []
   :source-columns []}}}
