{:tables         [{:table "departments"}
                  {:table "employees"}]
 :source-columns #{{:table "departments" :column "id"}
                   {:table "departments" :column "name"}
                   {:table "employees" :column "id"}
                   {:table "employees" :column "first_name"}
                   {:table "employees" :column "last_name"}
                   {:table "employees" :column "department_id"}}

 ;; See https://github.com/metabase/metabase/issues/42586
 :overrides
 {:source-columns #{{:table "departments" :column "id"}
                    {:table "departments" :column "name"}
                    {:column "first_name"}
                    {:column "last_name"}}}}
